.page {
  background-image: url('../img/background-eoliene.jpg');
  min-height: 100vh;
}
.navigation-interaction .back-button {
  display: none;
}
.category {
  width: 28%;
  display: inline-block;
  margin: 2%;
}

.category .link {
  border-radius: 20px;
  background: rgba(255,255,255, 0.5);
  padding: 1rem;
  box-sizing: border-box;
  display: block;
  color: #000;
}

.category .link:hover {
  background: rgba(255, 255, 255, 0.8);
  transition: background 1s;
  text-decoration: none;
}

.category img {
  display: block;
  max-width: 70%;
}

@media (min-width: 600px) {
  .category {
    width: 20%;
    display: inline-block;
    margin: 2%;
  }
}
@media (min-width: 1000px) {
  .category {
    width: 15%;
    display: inline-block;
    margin: 2%;
  }
}
